@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<center>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSefnSgJw0EXFU0L2cMJwQgsJjEnY1C65JpvRumNT7TA8373JQ/viewform?embedded=true" width="800" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</center>
<!--
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
    -->